{% extends 'base.html.twig' %}
{% block body %}
<header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1 class="mb-1">Student Of Art</h1>
        <h3 class="mb-5">
          <em>“En art point de frontière.” Victor Hugo</em>
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Jeunes talents du moment</a>
      </div>
      <div class="overlay"></div>
    </header>

    <!-- About -->
    <section class="content-section bg-light" id="about">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h2>Jeunes talent qui ont le vent en poupe</h2>
            <p class="lead mb-5">"Certains peintres transforment le soleil en un point jaune,d'autres transforment un point jaune en un soleil."Picasso"</p><br />
            <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">ici -></a>
          </div>
        </div>
      </div>
    </section>

    <!-- Services -->
    <section class="content-section bg-primary text-white text-center" id="services">
      <div class="container">
        <div class="content-section-heading">
          <h3 class="text-secondary mb-0">Catégories</h3>
          <h2 class="mb-5"></h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-picture"></i>
            </span>
            <h4>
              <strong>Peintre</strong>
            </h4>
            <p class="text-faded mb-0"></p>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-diamond"></i>
            </span>
            <h4>
              <strong>Sculpteur</strong>
            </h4>
            <p class="text-faded mb-0"></p>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-pencil"></i>
            </span>
            <h4>
              <strong>Dessinateur</strong>
            </h4>
            <p class="text-faded mb-0">
              <i class="fa fa-heart"></i>
              </p>
          </div>
          <div class="col-lg-3 col-md-6">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-ghost"></i>
            </span>
            <h4>
              <strong>Graphiste</strong>
            </h4>
            <p class="text-faded mb-0"></p>
          </div>
        </div>
      </div>
    </section>

    <!-- Callout -->
    <section class="callout">
      <div class="container text-center">
        <h2 class="mx-auto mb-5">Nouveaux Membres</h2>
        <a class="btn btn-primary btn-xl" href="https://startbootstrap.com/template-overviews/stylish-portfolio/"> par ici -></a>
      </div>
    </section>

    <!-- Portfolio -->
    <section class="content-section" id="portfolio">
      <div class="container">
        <div class="content-section-heading text-center">
          <h3 class="text-secondary mb-0">Portfolio</h3>
          <h2 class="mb-5">Dernières publications</h2>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Stationary</h2>
                  <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p>
                </span>
              </span>
              <img class="img-fluid" src="build/img/portfolio-1.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Ice Cream</h2>
                  <p class="mb-0">A dark blue background with a colored pencil, a clip, and a tiny ice cream cone!</p>
                </span>
              </span>
              <img class="img-fluid" src="build/img/portfolio-2.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Strawberries</h2>
                  <p class="mb-0">Strawberries are such a tasty snack, especially with a little sugar on top!</p>
                </span>
              </span>
              <img class="img-fluid" src="build/img/portfolio-3.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Workspace</h2>
                  <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
                </span>
              </span>
              <img class="img-fluid" src="build/img/portfolio-4.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Call to Action -->
    <section class="content-section bg-primary text-white">
      <div class="container text-center">
        <h2 class="mb-4">Laissez vous guidez par notre selection</h2>
        <a href="#" class="btn btn-xl btn-light mr-4">Artistes</a>
        <a href="#" class="btn btn-xl btn-dark">Oeuvres</a>
      </div>
    </section>
{% endblock %}